table {
	width: 100%;
  }
  
  .mat-form-field {
	font-size: 14px;
	width: 100%;
  }
  
  td, th {
	//width: 25%;
  }
  
  .mat-header-cell {
	font-weight: bold;
	font-size: 18px;
	color: black;
  }
  