<!--begin::Body-->
<div class="kt-login__body">
	<!--begin::Signin-->
	<div class="kt-login__form">
		<div class="kt-login__title">
			<h3>{{ 'AUTH.FORGOT.TITLE' | translate }}</h3>
		</div>

		<kt-auth-notice></kt-auth-notice>

		<form class="kt-form" [formGroup]="forgotPasswordForm" autocomplete="off">
			<div class="form-group">
				<mat-form-field>
					<mat-label>Phone Number</mat-label>
					<input [readonly]="code_" matInput type="Phone Number" placeholder="+923331234567"
						formControlName="msisdn" autocomplete="off" />
					<mat-error *ngIf="isControlHasError('email','required')">
						<strong>MSISDN is Required!</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('msisdn','pattern')">
						<strong>MSISDN format :+923331234567</strong>
					</mat-error>
				</mat-form-field>
				<div *ngIf="code_">
					<mat-form-field>
						<mat-label>Verification Code</mat-label>
						<input matInput placeholder="XXXX" formControlName="code" autocomplete="off" />
						<mat-error *ngIf="isControlHasError('code','required')">
							<strong>Code is Required!</strong>
						</mat-error>
					</mat-form-field>
					<mat-form-field>
						<mat-label>New Password</mat-label>
						<input type="password"  matInput placeholder="Password" formControlName="pass" autocomplete="off" />
						<mat-error *ngIf="isControlHasError('pass','required')">
							<strong>Password is Required!</strong>
						</mat-error>
					</mat-form-field>
					<mat-form-field>
						<mat-label>Confirm Password</mat-label>
						<input type="password" matInput placeholder="Confirm Password" formControlName="con_pass" autocomplete="off" />
						<mat-error *ngIf="isControlHasError('con_pass','required')">
							<strong>Confirm Password is Required!</strong>
						</mat-error>
					
					</mat-form-field>
				</div>

			</div>
			<!--begin::Action-->
			<div class="kt-login__actions">
				<button routerLink="/auth/login" [disabled]="loading" id="kt_login_signup_cancel"
					class="btn btn-secondary btn-elevate kt-login__btn-secondary">{{ 'AUTH.GENERAL.BACK_BUTTON' | translate }}</button>
				<button (click)="submit()" id="kt_login_signin_submit"
					class="btn btn-primary btn-elevate kt-login__btn-primary"
					[ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">{{ 'AUTH.GENERAL.SUBMIT_BUTTON' | translate }}</button>
			</div>
			<!--end::Action-->
		</form>
	</div>
</div>