:host {
	.kt-header__brand {
		height: 100%;
	}
}

.logostring{
	font-family: "Times New Roman", Times, serif;
font-size: 22px;
letter-spacing: 5.2px;
word-spacing: 6px;
color: #FFFFFF;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: small-caps;
text-transform: none;
}