<div class="row">
  <div class="col-xl-6">
    <kt-portlet [class]="'kt-portlet--height-fluid'">
      <kt-portlet-header [class]="'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'">
        <ng-container ktPortletTools>
          <!-- <kt-context-menu></kt-context-menu> -->
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search By Username">
          </mat-form-field>
        </ng-container>
      </kt-portlet-header>
      <kt-portlet-body [class]="'kt-portlet__body--fit'">


        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>


            <ng-container matColumnDef="user_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
              <td mat-cell *matCellDef="let row"> {{row.user_name}} </td>
            </ng-container>
            <ng-container matColumnDef="user_phone">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
              <td mat-cell *matCellDef="let row">
                {{row.user_phone}}
              </td>
            </ng-container>
            <ng-container matColumnDef="user_status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
              <td mat-cell *matCellDef="let row">
                <mat-slide-toggle [checked]="row.mem_status==1" (change)="mem_status_update($event,row)">
                </mat-slide-toggle>
              </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
              <td mat-cell *matCellDef="let row">
                <button [disabled]="!row.mem_lat" (click)="onChooseLoaction(row)" mat-icon-button color="primary"
                  matTooltip="Location">
                  <mat-icon>location_on</mat-icon>
                </button>
                |
                <button (click)="openDialog(row,1)" mat-icon-button color="accent" matTooltip="Edit">
                  <mat-icon>edit</mat-icon>
                </button>| <button (click)="mem_delete(row)" mat-icon-button color="warn" matTooltip="Delete">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row [@rowsAnimation]="" *matRowDef="let row; columns: displayedColumns;">
            </tr>
          </table>

          <mat-paginator [pageSize]="5"></mat-paginator>

        </div><br>
        <button style="cursor: pointer;width: 15%;align-self: flex-end;" (click)="openDialog($event)"
          class="btn btn-primary">Add
        </button>


      </kt-portlet-body>
    </kt-portlet>
  </div>
  <div class="col-xl-6">
    <agm-map [zoom]="8" [zoomControl]="true" [mapTypeId]="'roadmap'" style="height:65vh;" [fullscreenControl]='true'
      [mapTypeControl]='true' [latitude]="map_lat" [longitude]="map_lng">
      <agm-marker *ngIf="lat" (markerClick)="clickedMarker(infoWindow)" [latitude]="lat" [longitude]="lng">
        <agm-info-window [disableAutoPan]="false" #infoWindow>
          <div class="gm-style-iw">
            <div class="row">
              <div style="width: 100%;">
                <div class="row">
                  <div class="col-12">
                    <div class="card-body no_pads">
                      <p class="card-text info">
                        <strong>{{member_name}}</strong> located at <strong>{{member_loc}}</strong> <br>at
                        {{member_loc_dtm}}
                      </p>

                    </div>
                  </div>
                </div>
              </div>


            </div>

          </div>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
</div>


<ng-template #location>
  <kt-portlet>
    <kt-portlet-body [class]="'kt-portlet__body--fit'">

      <div class="row row-no-padding row-col-separator-xl">
        <div class="col-xl-12">
          <div class="row">
            <div class="col-xl-6">
              <mat-form-field appearance="fill" style="width:90%;">
                <mat-label>Full Name</mat-label>
                <input matInput placeholder="" [(ngModel)]="emp_fname">

              </mat-form-field>
            </div>

            <div class="col-xl-6">
              <mat-form-field appearance="fill" style="width:90%;">
                <mat-label>Mobile#</mat-label>
                <input matInput placeholder="" [(ngModel)]="emp_uname">

              </mat-form-field>
            </div>

          </div>
          <div class="row">
            <div class="col-xl-6">
              <!-- <ng-multiselect-dropdown class="custom-font-size" [placeholder]="'Department'" [data]="dropdownList"
                [settings]="dropdownSettings" (onSelect)="addToList(element,$event)">
              </ng-multiselect-dropdown> -->

              <mat-form-field>
                <mat-select [formControl]="selectedDept">
                  <mat-option>
                    <ngx-mat-select-search noEntriesFoundLabel="'no match found'" placeholderLabel= "Choose Dept" [formControl]="deptFilterCtrl" ></ngx-mat-select-search>
                  </mat-option>
            
                  <mat-option *ngFor="let row of dept" [value]="row.dept_id">
                    {{row.dept_name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              
            </div>

            <div class="col-xl-6">
              <mat-label>is Admin?&nbsp;</mat-label>
              <mat-checkbox [formControl]="is_admin" ></mat-checkbox>

            </div>

          </div>


          <br>
          <mat-form-field appearance="fill" style="width:95%;">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="" [(ngModel)]="emp_pass">
          </mat-form-field>
          <mat-form-field appearance="fill" style="width:95%;">
            <mat-label>Confirm Password</mat-label>
            <input type="password" matInput placeholder="" [(ngModel)]="emp_cpass">
          </mat-form-field>

          <button *ngIf="!isEdit" (click)="add()" mat-button
            style="background-color: #716ACA;color: white;">Save</button>
          <button *ngIf="isEdit" (click)="add(true)" mat-button
            style="background-color: #716ACA;color: white;">Save</button>

          <div style="margin-top: 1%;" class="row">
            <span *ngIf="field_error" class="badge badge-danger" style="background-color: red;">{{error_field}} field
              cannot
              be empty!</span>
          </div>

        </div>
      </div>
    </kt-portlet-body>
  </kt-portlet>
</ng-template>